<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "de.kevinkub.stundenplanhtml5"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Stundenplan</name>

    <description>
        Die Stundenplan App für FHDW und b.i.b. ermöglicht es dir deine Kurse an der Fachhochschule der Wirtschaft und dem b.i.b. International College übersichtlich und stets aktuell in der Hosentasche dabei zu haben. 
    </description>

    <author href="http://kevinkub.de" email="stundenplan-app@kekub.de">
        Kevin Kub
    </author>

    <platform name="android" />

    <icon src="res/ldpi.png" platform="android" qualifier="ldpi" />
    <icon src="res/mdpi.png" platform="android" qualifier="mdpi" />
    <icon src="res/hdpi.png" platform="android" qualifier="hdpi" />
    <icon src="res/xhdpi.png" platform="android" qualifier="xhdpi" />
    <icon src="res/xxhdpi.png" platform="android" qualifier="xxhdpi" />
    <icon src="res/xxxhdpi.png" platform="android" qualifier="fr-xxhdpi" />

    <splash src="res/splash.png" platform="android" />

    <feature name="http://api.phonegap.com/1.0/network" />

    <plugin name="cordova-plugin-whitelist" />
    <access origin="*" />

    <plugin name="cordova-plugin-statusbar" spec="~2.1" />
    <preference name="StatusBarBackgroundColor" value="#12836D" />
    <preference name="StatusBarStyle" value="lightcontent" />

</widget>