<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="index, follow">
		<meta name="theme-color" content="#1abc9c">
		<meta name="apple-mobile-web-app-status-bar-style" content="#1abc9c">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta name="author" content="Kevin Kub">
		<meta name="description" content="FHDW Stundenplan für FHDW und b.i.b.">
		<title>Stundenplan</title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/fonts.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<nav>
			<h1>Stundenplan</h1>
			<nav>
				<a href="#" v-bind:class="{ 'active': view == 'calendar' }" v-on:click="view = 'calendar'">Kalender</a>
				<a href="#" v-bind:class="{ 'active': view == 'courses' }" v-on:click="view = 'courses'">Kurse</a>
				<a href="#" v-bind:class="{ 'active': view == 'settings' }" v-on:click="view = 'settings'">Einstellungen</a>
			</nav>
		</nav>
		<main>
			<section id="calendar" v-show="view == 'calendar'">
				<div class="slider">
					<div class="calendar" v-for="month in calendarGetMonthsToRender()">
						<div class="month">
							<h2>{{calendarGetMonthName(month)}}</h2>
							<div class="labels">
								<div class="label">Mo</div>
								<div class="label">Di</div>
								<div class="label">Mi</div>
								<div class="label">Do</div>
								<div class="label">Fr</div>
								<div class="label">Sa</div>
								<div class="label">So</div>
							</div>
							<div class="days">
								<div class="day spacer" v-for="n in calendarGetNumberOfSpacers(month)"></div>
								<div class="day" v-for="day in calendarGetDaysInMonth(month)" v-bind:class="{'active': calendarIsCurrentDate(day)}">
									<a href="#" v-on:click="viewData.calendar.currentDate = day">
										<div class="label">
											{{day.getDate()}}
											<div class="eventindicator" v-if="getLessonsByDate(day).length > 0"></div>
										</div>
									</a>
								</div>
								<div class="day spacer" v-for="n in (42 - calendarGetNumberOfSpacers(month) - calendarGetLastDayOfMonth(month))"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="spacer"></div>
				<ul class="courselist">
					<li v-for="lesson in getLessonsForCurrentDate()">
						<a href="#">
							<div class="course">
								<div class="badge" v-bind:style="{'background': getColorForCourseName(lesson.course)}"><div class="label">{{lesson.course}}</div></div>
								<div class="details">
									<div class="line"><span class="primary">{{lesson.subscriber}}</span> <span class="disclosure">{{getTimeStringForLesson(lesson)}}</span></div>
									<div class="line"><span class="secondary">{{lesson.location}}</span></div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</section>
			<section id="courses" v-show="view == 'courses'">
				<ul class="courselist">
					<li v-for="course in getCourses()">
						<a href="#">
							<div class="course">
								<div class="badge" v-bind:style="{'background': getColorForCourseName(course)}"><div class="label">{{ course }}</div></div>
								<div class="details">
									<div class="line"><span class="primary">{{ getSubscribersByCourse(course) }}</span> <span class="disclosure">{{ getProgressForCourse(course) }}%</span></div>
									<div class="line"><span class="secondary">{{ getLessonsForCourse(course).length }} Vorlesungen</span></div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</section>
			<section id="settings" v-show="view == 'settings'">
				<div class="setting">
					<div class="key">
						Kurs
					</div>
					<div class="value">
						<form onsubmit="this.course.blur(); return false;">
							<input name="course" v-model="course">
							<ul class="list">
								<li v-for="courseName in courses | filterBy course | limitBy 5" v-if="course.length > 0 && courseName != course" v-on:click="course = courseName">{{ courseName }}</li>
							</ul>
						</form>
					</div>
				</div>
				<div class="setting">
					<div class="key">
						Letzte Aktualisierung
					</div>
					<div class="value">
						{{lastRefresh}}
					</div>
				</div>
			</section>
		</main>
		<script src="js/vue.min.js"></script>
		<script src="js/vue-resource.min.js"></script>
		<script src="js/ical.js"></script>
		<script src="js/swipe.js"></script>
		<script src="js/fastclick.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>